body {
  padding-top: 100px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(56, 76, 167);
}

.App-link {
  color: #1c3bc5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroll-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.scroll-container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #1c3bc5;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #1c3bc5;
    opacity: 0.8;
}

.carousel-control-prev,
.carousel-control-next {
    filter: brightness(1.2);
}